@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

table {
    border-collapse: collapse;
    font-size: 0.9rem;
    padding: 10px;
    margin: 10px auto;
    width: -webkit-fill-available;
}
td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}
th {
  background-color: rgb(235,235,235);
}
td {
  text-align: center;
}
tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}
tr:nth-child(odd) td {
  background-color: rgb(238 238 238);
}
caption {
  padding: 10px;
}
body {
  background-color: #f0f5fa;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.home_button {
  background-color: #f78989;
  border-radius: 10px;
  border: 1px;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: fit-content;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  margin: 10px auto;
}
.input_field {
  height: 36px;
  width: 300px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,.08);
  border-color: #fff;
  margin: 10px;
  padding: 0 10px;
  background: #fff;
}
input:focus {
  outline: none;
}
input:active {
  outline: none;
}
.submit_button {
  background-color: #409eff;
  border-radius: 10px;
  border: 1px;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
}
.success_button {
  background-color: #409eff;
  border-radius: 10px;
  border: 1px;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
}
.fail_button {
  background-color: #f78989;
  border-radius: 10px;
  border: 1px;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: fit-content;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  margin: 10px auto;
}
.confirm_button {
  background-color: #409eff;
  border-radius: 10px;
  border: 1px;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
}
.send_request_button {
  background-color: #409eff;
  border-radius: 10px;
  border: 1px;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
}
.main_text {
  margin: 10px 10px;
}
.b-container{
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin: 40px auto 0px auto;
    width: 620px;
    height: 250px;
    padding: 10px;
    background-color: #f0f5fa   ;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}
.close_pop_up {
    float: right;
    cursor: pointer;
}
.pop_up_text{
    text-align: center;
}
.popup_input_field{
    height: 36px;
    width: 300px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,.08);
    border-color: #fff;
    margin: 30px 155px;
    padding: 0 10px;
    background: #fff;
}