{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Merging Orgs L-ID</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT -->

    <!-- CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet"  type="text/css">

</head>
<body>
        <h1>Авторизация</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><button type="submit">Войти</button></p>
</form>
</body>
</html>
