{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Merging Orgs L-ID</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet"  type="text/css">

</head>
<body>
{% if error_count == 0 %}
    <p>Все организации успешно объединены.</p>
    <a href="/start_merge/"><button class="success_button">Вернуться к ещё одному поиску</button></a>
{% else %}
    <p>При объединении произошло {{ error_count }} ошибок.</p>
    <p>Полный список ошибок:</p>
    {% for error in errors %}
    <ul>
        <li>{{ error }}</li>
    </ul>
    {% endfor %}
    <a href="/start_merge/"><button class="fail_button">Вернуться к ещё одному поиску</button></a>
{% endif %}

</body>
</html>