{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Merging Orgs L-ID</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet"  type="text/css">

    <!-- Script -->
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script>
        $(document).ready(function(){
            PopUpHide();
        });
        function PopUpShow(){
            var orgIds = [];
            $('input[name="orgsToMerge"]').each(function() {
                orgIds.push($(this).val());
            });
            $('#orgIds').val(orgIds.join(','));
            $("#popup1").show();
        }
        function PopUpHide(){
            $("#popup1").hide();
        }
    </script>

</head>
<body>
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Название</th>
            </tr>
        </thead>
        <tbody>
            {% for idx, org in orgs %}
            <tr>
                <td>{{ idx }}</td>
                <td><input type="hidden" name="orgsToMerge" value="{{ org.id }}">{{ org.id }}</td>
                <td>{{ org.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<a href="javascript:PopUpShow()"><button class="confirm_button">Перейти к объединению</button></a>
<a href="/" class="home_button">Назад к поиску</a>
<div class="b-popup" id="popup1">
    <div class="b-popup-content">
        <a href="javascript:PopUpHide()" class="close_pop_up">X</a>
        <p class="pop_up_text">Введите ID организации, в которую необходимо объединить:</p>
        <form method="post" action="/merge_orgs/">
            {% csrf_token %}
            <input type="hidden" id="orgIds" name="orgIds" value="">
            <input class="popup_input_field" type="text" id="id" name="id">
            <button class="send_request_button">Объединить организации</button>
        </form>
    </div>
</div>
</body>
</html>